.game-main-container {
  display: flex;
  justify-content: center;
  align-items: center
}

.game-button-list {
	width: 900px;
}

.game-imagepokemon-shadow {
  width: 200px;
  filter: contrast(0%);
}
.game-imagepokemon {
  width: 200px;
}

.game-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}